.neomorph {
  background: #f0f0f0;
  box-shadow: 4px 4px 12px rgba(34, 2, 2, 0.307);
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  -ms-border-radius: 10px; 
  -o-border-radius: 10px; 
  border-radius: 10px; 
  padding: 25px;
  margin: 20px;
  transition: box-shadow 0.3s ease-in-out;
}

.neomorph.book-container {
  background-color: rgb(231, 241, 241);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 4px 4px 12px rgba(34, 2, 2, 0.307);
}

.neomorph:hover {
  box-shadow: 6px 6px 12px #d9d9d9, -6px -6px 12px #ffffff;
}

.neobutton {
  background-color: rgba(255, 235, 205, 0.414);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.neobutton:hover {
  box-shadow: 4px 4px 8px #d9d9d9, -4px -4px 8px #ffffff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: rgb(215, 226, 234); 
  margin: 0; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.App-link {
  color: #e8c796;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home, .create, .login {
  color: green;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #e0e0e03e;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 4px 4px 12px rgba(34, 2, 2, 0.307);
}

.home, .login, .create {
  margin-right: 20px; 
}


.home:hover, .create:hover, .login:hover {
  background-color: #d0d0d051;
}

.navbar-container {
  background-color: #181d27; 
  padding: 20px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.container {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  margin: 20px;
  box-shadow: 4px 4px 12px rgba(34, 2, 2, 0.307);
  transition: box-shadow 0.3s ease-in-out;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 70px;
}


.page-title {
  color: blue; 
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.view-container {
  padding: 20px;
}

.view-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.view-cover img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.view-author {
  font-size: 18px;
  margin-bottom: 10px;
}

.view-intro {
  margin-bottom: 10px;
}

.view-completed {
  font-style: italic;
  margin-bottom: 10px;
}

.view-review {
  margin-bottom: 10px;
}

